.title {
  font-size: var(--fontBig);
  color: var(--white);
  font-style: italic;
  text-align: center;
  text-shadow: var(--goldShadow);
  padding: 50px 0px 40px 0px;
}

.card {
  height: 400px;
  display: flex;
  flex-direction: column;
}
.img {
  height: inherit;
  object-fit: fill;
  border-radius: 20% 5% 5% 5%;
  border: 1px solid var(--white);
  box-shadow: var(--goldShadow);
}
.img:hover {
  border: 1px solid var(--gold);
  box-shadow: var(--whiteShadow);
}
.titleCard {
  font-size: var(--fontNormal);
  padding: 20px 0px 0px 0px;
  display: block;
  text-align: center;
  color: var(--gold);
}
