.content {
  z-index: 20;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  top: 20px;
  background-color: var(--violet);
  border: 1px solid var(--gold);
  box-shadow: var(--goldShadow);
  border-radius: 1% 25% 1% 25%;
}
.logo {
  display: flex;
  margin: 0px 0px 0px 35px;
  gap: 20px;
}
.navTitle {
  font-style: italic;
  padding: 8px 0px 0px 10px;
  font-size: 2em;
  color: var(--gold);
}

.navLogo {
  width: 45px;
}

.rndFilms {
  display: flex;
  font-size: 1.2rem;
  margin: 12px 0px 0px 30px;
  color: var(--white);
  transition-duration: 1s;
}
.rndFilms:hover {
  color: var(--white);
  text-shadow: var(--goldShadow);
}
.searchInputBlock {
  display: flex;
  gap: 10px;
}
.input {
  padding: 0px 0px 0px 5px;
  height: 1.8em;
  margin: 0px 40px 0px 0px;
  border-radius: 1% 45% 1% 1%;
}
.searchResult {
  position: absolute;
  max-height: 800px;
  flex-direction: column;
  border: 1px solid var(--black);
  overflow-y: scroll;
  overflow-x: visible;
  top: 68px;
  right: 0px;
}
.searchButton {
  width: 268.5px;
  background: var(--white);
  cursor: pointer;
  margin-right: unset;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
}
.searchItemName {
  padding: 10px 0px 0px 0px;
  width: 150px;
  font-size: 1.1rem;
  color: var(--black);
}
.searchImgContainer {
  width: 90px;
}
.searchCard {
  display: flex;
}
.searchImg {
  width: 100%;
  object-fit: cover;
}
.selectLinks {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--gold);
  border-radius: 1% 15% 1% 15%;
  padding: 10px 0px 0px 0px;
  font-size: 20px;
}
.linksBlock {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: var(--gold);
  margin: 50px 0px 0px 0px;
  width: 300px;
  border-top: 1px solid black;
}
.topLink {
  border-bottom: 1px solid red;
  color: var(--black);
}
@media (max-width: 600px) {
  .logo {
    display: flex;
    margin: 0px 0px 0px 5px;
    gap: 5px;
  }
  .navTitle {
    display: none;
  }
  .rndFilms {
    align-items: center;
    font-size: var(--fontSmall);
    margin: 0px 0px 0px 20px;
    transition-duration: 0s;
  }
  .input {
    padding: 0px 0px 0px 5px;
    height: 1.8em;
    width: 80px;
    margin: 0px 30px 0px 10px;
    border-radius: 1% 45% 1% 1%;
  }
  .searchInputBlock {
    gap: 0;
  }
  .searchResult {
    width: 250px;
  }
}
