.block {
  margin: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  color: var(--gold);
}
.imgBlock {
  height: 500px;
}
.img {
  border: 1px solid var(--gold);
  height: inherit;
  object-fit: fill;
  border-radius: 20% 5% 5% 5%;
}
.actorBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text {
  margin: 5px 0px 5px 0px;
}
