.infoCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 100px 0px 0px 30px;
  gap: 15px;
}
.img {
  width: 300px;
  height: 400px;
  border: 1px solid var(--gold);
  border-radius: 10% 3% 3% 3%;
}
.title {
  display: block;
  font-size: var(--fontNormal);
  color: var(--gold);
}
.titleContent {
  padding: 0px 0px 0px 10px;
  font-size: var(--fontNormal);
  color: var(--white);
}
@media (max-width: 500px) {
  .infoCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0px 0px 0px;
    gap: 15px;
    max-width: 250px;
    text-align: start;
  }
  .img {
    max-width: 250px;
  }
  .title {
    display: grid;
  }
}
