.actorBlock {
  margin: 20px 30px 0px 30px;
}
.btnActor {
  background-color: var(--gold);
  width: 300px;
}
.spinner {
  margin: 200px auto;
}
.spinner:first-child {
  width: 300px;
  height: 300px;
}
