.randomCard {
  display: flex;
  margin: 80px 0px 0px 10px;
  gap: 20px;
  transition: all ease-in-out 1s;
}
.randomCard:hover {
  transition: all ease-in-out 1s;
  position: sticky;
  box-shadow: var(--goldShadow);
}
.imgBlock {
  width: 300px;
  height: 450px;
}
.textBlock {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.img {
  width: inherit;
  height: inherit;
  object-fit: fill;
}
.title {
  text-align: start;
  display: block;
  font-size: var(--fontNormal);
  color: white;
}
.titleContent {
  margin: 0px 0px 0px 10px;
  font-size: var(--fontNormal);
  color: var(--gold);
}
.error {
  font-size: 20px;
  color: var(--white);
}
@media (max-width: 800px) {
  .randomCard {
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 0px 0px;
  }
}
@media (max-width: 500px) {
  .title {
    display: grid;
  }
  .textBlock {
    width: 250px;
    align-items: flex-start;
    text-align: start;
  }
  .imgBlock {
    width: 250px;
  }
}
